
.Main-wrapper{
    margin: 7rem 0;
    
}
/* Sección sobre mí */
.About{

padding: 5rem 0;

    width: 100% ;
    
    /* background-color: aquamarine; */
 
}
.About-wrapper{  
    width: 90%;
     margin: auto;
     padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2rem;

}
.About-text{
   width: 100%;
    padding:0 5rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.About-h2{
    font-size: var(--font-h2);
    margin: 0 0 2rem;
}
.About-p{
    font-size: 1.5em;
}
.About-asset{
    margin: auto;
   
}
.About-img{
    /* background-color: aqua; */
    width: 100%;
    max-height: 70vh;
    max-width: 1000px;
    
    object-fit: cover;
   
   
}
/* Sección de mi formación */
.Formacion{
    width: 85%;
    margin: auto;
    padding: 5rem;
    /* background-color: aqua; */
}
.Formacion-h2{
    font-size: var(--font-h2);
}
.Formacion-ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.Formacion-li{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.Formacion-li{
    font-size: 1.5em;
}
.Formacion-span{
    font-style: italic;
    font-size: 1em;
    color: lightsalmon;
}

/* Sección para descargar mi currículum */
.Main-btn{
width: 20%;
margin: auto;
color: var(--c-orange);
padding: 2rem;
border-radius: .625rem;
background-color: var(--c-black);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.Main-a{
    font-size: 1.5em;
}



/* Media queries */

@media (max-width:1500px) {
    .About-wrapper{
        grid-template-columns: 1fr;
        row-gap: 5rem;
    }
    .Main-btn{
        width: 30%;
    }.Main-a{
        font-size: 1.2em;
    }
}
@media (max-width:920px) {
    .About-wrapper{
        grid-template-columns: 1fr;
        row-gap: 5rem;
    }
    .Main-btn{
        width: 40%;
    }.Main-a{
        font-size: 1.2em;
    }
}

@media (max-width:700px) {
    .About-text{
        padding: 0;
        
    }
    .About-h2, .Formacion-h2{
        font-size: 2em;
        
    }

    .About-p{
      
        font-size: 1em;
    }
    .About-img{
        /* background-color: aqua; */
        width: 100%;
        max-height: 30vh;
        max-width: 1000px;
        
        object-fit: cover;
       
       
    }
    .Formacion{
        width: 100%;
        padding: 3rem;
    }
    .Formacion-li{
        margin: 2rem 0 0;
        font-size: 1em;
       text-align: center;
    }
    .Formacion-span{
        font-size: 0.8em;

    }
    .Main-btn{
        width: 60%;
    }
    .Main-a{
        width: 100%;
        font-size: 0.9em;
        margin: auto;
        text-align: center;
    }
}

@media (max-width:482px) {
 
    .Main-btn{
        width: 60%;
    }
    .Main-a{
        width: 100%;
        font-size: 0.9em;
        text-align: center;
    }
}

