/* Parte del vídeo */
.Container {
    width: 100%;
    margin: 7.1rem auto;
    background-color: var(--c-black);
}

.Container-video {
    width: 70%;
    max-width: 1800px;
    margin: auto;

    padding: 0 0 4rem;
}

/* Parte principal y su wrapper para establecer un orden visual */
.Main-wrapper {
    width: var(--width-);
    margin: auto;
    max-width: 1700px;



}

/* Partes de la introducción */
.Introduction {
    width: 80%;
    /* background-color: aqua; */
    margin: 0 auto 5rem;

}

.Introduction-h2 {
    font-size: var(--font-h2);
    margin: 5rem auto;

}

.Introduction-h2::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--c-white);
}

.Introduction-p {

    margin: 2rem auto;
}

.Introduction-span {
    font-weight: var(--bold-);
}

/* Métodos de investigación */
.Method {
    width: 90%;
    /* background-color: aqua; */
    margin: 0 auto 1rem;

}

.Method-h2 {
    font-size: calc(var(--font-h2) - 1em);
    margin: 2rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;

}

.Method-span {
    font-weight: var(--bold-);
}

/* Fases del proceso */

.Phases {
    width: 90%;
    margin: 0 auto 5rem;

}

.Phases-h2 {
    width: 100%;
    font-size: calc(var(--font-h2) - 1em);
    margin: 5rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}


.Phases-grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


.Phases-card {
    padding: 0 2rem;
    width: 21.875rem;
    height: 15.625rem;
    perspective: 62.5rem;
}

.Phases-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;

}

.Phases-card:hover .Phases-container {
    transform: rotateY(180deg);
}

.Phases-front {

    width: 100%;
    height: 100%;
    background-color: var(--c-orange);
    color: var(--c-white);
    border-radius: .625rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    backface-visibility: hidden;
    transform: rotateY(0deg);
}


.Phases-h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
}


.Phases-back {
    background-color: #626B92;
    width: 100%;
    height: 100%;
    border-radius: .625rem;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.Phases-ul {
    /* background-color: antiquewhite; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

/* Resultados de los estudios */

.Research {
    width: 72%;
    /* background-color: aqua; */
    margin: auto;


}

.Research-h2 {
    width: 100%;
    font-size: calc(var(--font-h2) - 1em);
    margin: 5rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}


.Article-h2 {
    font-size: 1.2em;
    font-weight: var(--bold-);

}

.Article-p {
    margin: 2rem 0;
}

.Article-span {
    font-weight: var(--bold-);
}

.Research-h3 {
    font-size: 1.2em;
    font-weight: var(--bold-);
    margin: 6rem auto 8rem;

}



/* Carrousel imágenes del proyecto que se irán pasando*/

.Carrousel {
    width: 50%;

    margin: auto;
    /* background-color: aqua; */
    border-radius: .625rem;
    position: relative;
    overflow: hidden;

}

.Carrousel-container {
    width: 300%;
    padding: 0 0 5rem;


    /* background-color: chartreuse; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Carrousel-img {
    object-fit: cover;
    border-radius: .625rem;

    overflow: hidden;
}

.Carrousel-arrow {

    width: 3rem;
    height: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.Next {
    right: 0;
}

.Prev {
    left: 0;
}

.Carrousel-svg {
    color: var(--c-black);
   
    width: 3rem;
    height: 2rem;
    opacity: 1;

}



.Require {
    width: 70%;
    /* background-color: aqua; */
    margin: auto;


}

.Require-h2 {
    width: 100%;
    font-size: calc(var(--font-h2) - 1em);
    margin: 5rem auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}


.Require-ul {

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

}

.Require-funcional {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: salmon; */
}

.Require-li:first-child {
    font-weight: var(--bold-);
    margin: 1rem 0;
}

.Card {
    width: 70%;
    margin: 6rem auto;

}

.Card-h2 {
    font-size: 1.2em;
    font-weight: var(--bold-);
    margin: 0 0 2rem;
}

.Card-picture {
    margin: 2rem auto;
    width: 100%;
    min-height: 5vh;
    position: relative;
    /* background-color: aqua; */



}

.Card-img {

    object-fit: contain;
    filter: drop-shadow(.625rem .625rem .625rem);
}

.Lowfi {
    background-color: var(--c-white);
    padding: 5rem;
    color: var(--c-black);
}
.Red-svg:hover{
    color: var(--c-orange);
}
.Wireframes-color{
    width: 100%;
    background-color: var(--c-white);
    padding: 2rem 0;
    color: var(--c-black);
}
.Wireframes-color:nth-child(2){
    background-color: #626B92;
    color: var(--c-white);
}
.Wireframes-wrapper {
    width: 70%;
    margin: auto;
}

.Wireframes-h2 {
    
    font-size: 1.2em;
    font-weight: var(--bold-);
    margin: 0 0 2rem;
}

.Wireframes-h3 {
   
    font-weight: bolder;
    border-bottom: 1px solid var(--c-orange);
    padding: 1rem 0;
}

.Wireframes-btn {
    width: 18.75rem;
    margin: 5rem auto;
    padding: 2rem 2rem;
    background-color: var(--c-orange);
    border-radius: .625rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    transition: all 0.2s ease;
    color: var(--c-black);

}
.Wireframes-btn:nth-child(2){
    background-color: orange;
}

.Wireframes-img {
    width: 70%;
    height: 40vh;
    margin: auto;
    padding: 2rem;
    object-fit: contain;
}

.Wireframes-img--rev {
    /* background-color: aqua; */
   
    width: 100%;
    height: 40vh;
    object-fit: contain;
   
    margin: auto;
    padding: 2rem 0;
}



.Wireframes-btn:hover {
    background-color: rgb(252, 184, 95);
    color: var(--c-black);
}


.Wireframes-h4 {
    /* background-color: aqua; */
    width: 100%;
    font-size: 1.2rem;
}

.Wireframes-svg {
    width: 2rem;
    height: 2rem;
    transform: translateX(0%);

}

.Wireframes-btn:hover .Wireframes-svg {
    transform: translateX(1.25rem);
    color: var(--c-black);
}
.Results{
    margin: 10rem 0 0;
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px ,1fr));
    gap: 1rem ;
     overflow: hidden;
 
}
.Results-container{
    overflow: hidden;
}
.Results-h2{
    color: var(--c-orange);
    font-size: 5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.Results-img{

    width:100%;
   object-fit: cover;
   transform: scale(1);
   transition: all 0.5s;
}
.Results-container:hover .Results-img{
    transform: scale(1.5);
}







/* Media quearies */

@media (max-width: 1400px) {
    .Phases-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;

    }

    .Require-funcional {
        grid-template-columns: 1fr;

    }
}

@media (max-width:700px) {
    .Phases-grid {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 2rem;
    }

    .Phases-card {
        padding: 0;
        width: 25rem;
        height: 15rem;
        perspective: 62.5rem;

    }

    .Carrousel-svg {

        width: 1rem;
        height: 1rem;

    }

    .Lowfi-btn {
        width: 100%;

    }

    .Lowfi-svg {
        width: 1.5rem;
        height: 1.5rem;
    }



}

@Media (max-width: 620px) {


    .Phases-card {
        padding: 0;
        width: 15rem;
        height: 20rem;
        perspective: 62.5rem;
        margin: auto;

    }
    .Results-h2{
        font-size: 3em;
    }
    .Results{
        padding: 0 2rem 0 0;
    }
    .Wireframes-btn {
        width: 15rem;
        padding: 1rem 2rem;
     }
     .Wireframes-img{
        width: 100%;
        padding: 0;
     }
}


