
.Main-wrapper{
    width: var(--width-);
    /* background-color: aqua; */
    margin: var(--margin-h);
}

/* Container y su animación al hacer hover */
.Container{
    display: grid;
   
    grid-template-columns: repeat( 3 , 1fr);
    column-gap: 2rem;
    row-gap: 2rem ;
   
}
.Container-a{ 
    position: relative; 
    overflow: hidden;
    border-radius: .625rem;  
    
}
.Container-img{
    object-fit: cover;
    
    border-radius: .625rem;   
    transform: scale(1);
    transition: all 0.5s;
    height: 35vh;
}

.Container-overlay{
    width: 100%; 
    height: 100%;
    background-color: rgba(77, 36, 192, 0.7);
    border-radius: .625rem;   

    position: absolute;
    top: 0 ;
    left: 0;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

   opacity: 0;
   transition: all .2s ease;

}

.Container-a:hover .Container-overlay{
    opacity: 1;
}
.Container-h2{
    font-size:  calc(var(--font-h2) - 1em) ;
    transform: translateY(50%);
    opacity: 0;
    transition: all .2s ease;
}

.Container-a:hover .Container-h2{
    transform: translateY(0%);
    opacity: 1;
}

.Container-a:hover .Container-img{
    transform: scale(1.2);
    
}
.Container-span{
    text-transform: uppercase;
}



/* Media quearies */

@media  (max-width: 1200px){
    .Container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 2rem;}
        .Container-img{
            max-height: 25vh;
        }
 
}

@media (max-width:700px){
  .Container{
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2rem;
  }
}